<div
    class="container h-100 px-3 py-5 d-flex flex-column flex-md-row align-items-stretch align-items-md-center justify-content-md-between">
    <div class="brand d-flex flex-column flex-md-row align-items-center">
        <img src="/static/logo.png" />
        <div class="brand-text">
            <h1>YourBCABus</h1>
            <p>One account. Everything YourBCABus.</p>
        </div>
    </div>
    <div class="login-panel bg-white rounded shadow-lg p-4 ml-md-5">
        <a class="btn btn-primary btn-block" href="{{googleURL}}">
            <i class="fab fa-google"></i> Sign in with Google
        </a>
    </div>
</div>